@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.multiple-slide-carousel {
  --swiper-navigation-color: #fff;
}

.multiple-slide-carousel .swiper-button-next,
.multiple-slide-carousel .swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
}
